/* GENERAL */

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: rgb(221, 192, 255);
}

/* Image */
img {
  border: none;
  width: 100%;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Search */

.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
}
